MQTT_HOST=
MQTT_PORT=1883
MQTT_CLIENT_ID=signal-craft-backend
MQTT_USER=
MQTT_PWD=
DB_USER=
DB_PWD=
DB_NAME=
GCS_BUCKET_NAME=signalcraft-audio
GCS_SIGNED_URL_EXPIRY_MINUTES=5
GOOGLE_APPLICATION_CREDENTIALS=